<script setup lang="ts">
import { useRoute } from 'vue-router'
import { ref, onMounted } from 'vue'
import PlayerCard from '@/components/PlayerCard.vue'
import type { Player } from '@/types/Player';
import { fetchPlayerDetails } from '@/services/playerService'


const route = useRoute()
const playerId = ref(route.params.playerId as string)
const teamId = ref(route.params.teamId as string)

const player = ref({ id: '', name: '', position: '' } as Player)

onMounted(async () => {
  try {
    // Fetch player details using the playerService
    const playerDetails = await fetchPlayerDetails(teamId.value, playerId.value);

    // Update the selectedPlayer with the retrieved details
    player.value = playerDetails;
  } catch (error) {
    console.error('Error fetching player details:', error);
    // Handle error appropriately (e.g., show an error message)
  }
});
</script>

<template>
  <div class="player">
    <h1 class="player-name">
      PlayerId = {{ playerId }}
    </h1>
  </div>
  <PlayerCard :player=player />
</template>

<style></style>
