<script setup lang="ts">
import { ref, onMounted } from 'vue'
import { useRoute } from 'vue-router'
import type { Team } from '@/types/Team';
import type { Player } from '@/types/Player';
import type { Event } from '@/types/Event';
import TeamCard from "@/components/TeamCard.vue";
import { fetchTeamDetails, fetchTeamPlayers, fetchTeamEvents } from '@/services/teamService'
import TeamEvents from "@/components/TeamEvents.vue";
import TeamPlayers from "@/components/TeamPlayers.vue";

const route = useRoute()
const teamId = ref(route.params.teamId as string)
const team = ref({ id: '', name: '', emblemUrl: '', fairPlayPoints: 0, commitmentPoints: 0 } as Team)
const players = ref<Player[]>([]);
const events = ref<Event[]>([]);

onMounted(async () => {
  try {
    console.log('fetching team details');
    const teamDetails = await fetchTeamDetails(teamId.value);
    team.value = teamDetails;

    console.log(typeof players)
    players.value.push(await fetchTeamPlayers(teamId.value))
    // events.push(await fetchTeamEvents(teamId.value))
  } catch (error) {
    console.error('Error fetching team details:', error);
  }
});

</script>

<template>
  <main>
    <!-- buggy -->
    <TeamCard :team="team"></TeamCard>
    <TeamEvents></TeamEvents>
    <TeamPlayers :teamId="team.id"></TeamPlayers>
  </main>
</template>
