<script setup lang="ts">
import { ref, onMounted } from 'vue'
import Teams from "@/components/Teams.vue";

onMounted(() => {
  console.log(`the component is now mounted.`)
})
</script>

<template>
  <main>
    <h2>Team</h2>
    <Teams></Teams>
  </main>
</template>
