<script setup lang="ts">
import { ref } from 'vue'
import { RouterLink } from 'vue-router'
import { useSidebarStore } from '@/stores/sidebar'
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiChevronDoubleRight, mdiHomeCircle, mdiInformation, mdiAccountGroup, mdiCog } from '@mdi/js'
const sidebarStore = useSidebarStore()

const sidebarExpandedWidth = 150;
const sidebarCollapsedWidth = 80;
let sidebarWidth = ref(getWidth())
let sidebarIcon = ref(getIcon())

function getWidth() {
  return sidebarStore.sidebar ? sidebarExpandedWidth : sidebarCollapsedWidth
}

function getIcon() {
  return mdiChevronDoubleRight
}

function toggleSidebar() {
  sidebarStore.toggleSidebar()
  sidebarIcon.value = getIcon()
  sidebarWidth.value = getWidth()
}

const beforeEnter = (el: Element) => {
  if (isHTMLElement(el)) {
    el.style.opacity = '0';
  }
};

const enter = (el: Element) => {
  if (isHTMLElement(el)) {
    el.offsetHeight; // Trigger reflow
    el.style.opacity = '1';
  }
};

const afterEnter = (el: Element) => {
  if (isHTMLElement(el)) {
    el.style.opacity = '';
  }
};

const beforeLeave = (el: Element) => {
  if (isHTMLElement(el)) {
    el.style.opacity = '1';
  }
};

const leave = (el: Element) => {
  if (isHTMLElement(el)) {
    el.offsetHeight; // Trigger reflow
    el.style.opacity = '0';
  }
};

const afterLeave = (el: Element) => {
  if (isHTMLElement(el)) {
    el.style.opacity = '';
  }
};

function isHTMLElement(el: Element): el is HTMLElement {
  return el instanceof HTMLElement;
}
</script>

<template>
  <div class="sidebar" :style="{ width: sidebarWidth + 'px' }">
    <RouterLink to="/">
      <h1 class="router-link title">Moball</h1>
    </RouterLink>
    <!-- <RouterLink to="/" class="router-link"> -->
    <!--   <div class="icon-container"> -->
    <!--     <SvgIcon type="mdi" :path="mdiHomeCircle"></SvgIcon>&nbsp; -->
    <!--   </div> -->
    <!--   <transition name="fade" @before-enter="beforeEnter" @enter="enter" @after-enter="afterEnter" -->
    <!--     @before-leave="beforeLeave" @leave="leave" @after-leave="afterLeave"> -->
    <!--     <span v-if=sidebarStore.sidebar class=text> -->
    <!--       &nbsp;Home -->
    <!--     </span> -->
    <!--   </transition> -->
    <!-- </RouterLink> -->
    <!-- <RouterLink to="/about" class="router-link"> -->
    <!--   <div class="icon-container"> -->
    <!--     <SvgIcon type="mdi" :path="mdiInformation"></SvgIcon>&nbsp; -->
    <!--   </div> -->
    <!--   <transition name="fade" @before-enter="beforeEnter" @enter="enter" @after-enter="afterEnter" -->
    <!--     @before-leave="beforeLeave" @leave="leave" @after-leave="afterLeave"> -->
    <!--     <span v-if=sidebarStore.sidebar class=text> -->
    <!--       &nbsp;About -->
    <!--     </span> -->
    <!--   </transition> -->
    <!-- </RouterLink> -->
    <RouterLink to="/teams" class="router-link">
      <div class="icon-container">
        <SvgIcon type="mdi" :path="mdiAccountGroup"></SvgIcon>&nbsp;
      </div>
      <transition name="fade" @before-enter="beforeEnter" @enter="enter" @after-enter="afterEnter"
        @before-leave="beforeLeave" @leave="leave" @after-leave="afterLeave">
        <span v-if=sidebarStore.sidebar class=text>
          &nbsp;Teams
        </span>
      </transition>
    </RouterLink>
    <RouterLink to="/settings" class="router-link">
      <div class="icon-container">
        <SvgIcon type="mdi" :path="mdiCog"></SvgIcon>&nbsp;
      </div>
      <transition name="fade" @before-enter="beforeEnter" @enter="enter" @after-enter="afterEnter"
        @before-leave="beforeLeave" @leave="leave" @after-leave="afterLeave">
        <span v-if=sidebarStore.sidebar class=text>
          &nbsp;Settings
        </span>
      </transition>
    </RouterLink>
    <span class="collapse-icon" :class="{ 'rotate-180': sidebarStore.sidebar }">
      <button @click="toggleSidebar">
        <SvgIcon type="mdi" :path="sidebarIcon"></SvgIcon>
      </button>
    </span>
  </div>
</template>

<style>
:root {
  --color-primary: #3498db;
  --color-secondary: #1c3e50;
  --color-tertiary: #ecf0f1;
  --bgcolor-secondary: #ffffff20;
}
</style>

<style scoped>
.router-link {
  padding: 2em 1em;
  display: flex;
  color: var(--color-tertiary);
}

.title {
  padding: 1em 0em;
  font-size: 1em;
  font-weight: bold;
  color: var(--color-tertiary);
  text-align: center;
  text-decoration: none;
  display: block;
}

a:hover {
  color: var(--color-primary);
  background-color: var(--bgcolor-secondary);
}

.router-link:hover {
  color: var(--color-primary);
}

.router-link-active {
  color: var(--color-primary);
}

.sidebar {
  color: white;
  background-color: var(--color-secondary);

  float: left;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0.5em;

  transition: all 0.8s ease;
  display: flex;
  flex-direction: column;
}

.collapse-icon {
  position: absolute;
  align-self: center;
  bottom: 0;
  padding: 0.75em;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.2s linear;
  transform-origin: center center;
}

.collapse-icon:hover {
  background-color: var(--bgcolor-secondary);
}

.rotate-180 {
  padding: 0.75em;
  transform: rotate(180deg);
  transition: 0.2s linear;
  transform-origin: center center;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 0.5s ease-in;
}

.fade-enter {
  opacity: 0;
}

.icon-container {
  width: 1.5em;
}

.text {
  margin-left: 0.5em;
}
</style>
