<script setup lang="ts">
import type { Event } from '@/types/Event';
import { useRouter } from 'vue-router'

const router = useRouter()

const eventDetails = () => {
  console.log('Event details clicked')
  router.push({ name: 'eventDetails', params: { id: props.event.id } })
}

const props = defineProps({
  event: {
    type: Object as () => Event,
    required: true
  }
})
</script>
<template>
  <div @click="eventDetails" class="cursor-pointer bg-blue-200 dark:bg-blue-800 shadow-md rounded-md max-w-sm">
    <div class="mb-4">
      <h1 class=" p-4 text-xl font-semibold text-blue-700 dark:text-blue-300">{{ event.name }}</h1>
      <h3 class="p-4 text-blue-600 dark:text-blue-400">{{ event.date }}</h3>
    </div>
    <div class="p-4 bg-blue-100 dark:bg-blue-700 text-center p-2 rounded-md">
      <span class="text-sm font-semibold text-blue-800 dark:text-blue-200">ID: {{ event.id }}</span>
    </div>
  </div>
</template>
