<script setup lang="ts">
import { ref } from 'vue'
import type { Player } from '@/types/Player';
import { useRoute, useRouter } from 'vue-router'
import { usePlayerStore } from '@/stores/player'

const router = useRouter()
const route = useRoute()
const playerId = ref(route.params.playerId as string)
console.log('pid', playerId.value)
const teamId = ref(route.params.teamId as string)
console.log('tid', teamId.value)

const playerDetails = () => {
  // route to player details page
  console.log('Player details clicked')
  const playerStore = usePlayerStore()
  playerStore.set(props.player)
  router.push({ name: 'players', params: { teamId: teamId.value, playerId: props.player.id } })
}

const props = defineProps({
  player: {
    type: Object as () => Player,
    required: true
  }
})
</script>
<template>
  <div @click="playerDetails" class="cursor-pointer bg-blue-200 dark:bg-blue-800 shadow-md rounded-md max-w-sm">
    <div class="mb-4">
      <h1 class=" p-4 text-xl font-semibold text-blue-700 dark:text-blue-300">{{ player.name }}</h1>
      <h3 class="p-4 text-blue-600 dark:text-blue-400">{{ player.position }}</h3>
    </div>
    <div class="p-4 bg-blue-100 dark:bg-blue-700 text-center p-2 rounded-md">
      <span class="text-sm font-semibold text-blue-800 dark:text-blue-200">ID: {{ player.id }}</span>
    </div>
  </div>
</template>
