<script setup lang="ts">
import { ref, onMounted } from 'vue'
import type { Player } from '@/types/Player';
import { fetchTeamPlayers } from '@/services/teamService'
import PlayerCard from '@/components/PlayerCard.vue'
const players = ref<Player[]>([]);

onMounted(async () => {
  try {
    players.value = await fetchTeamPlayers()
  } catch (error) {
    console.error('Error fetching team data:', error);
  }
})
const props = defineProps({
  teamId: {
    type: String,
    required: true
  }
})
</script>


<template>
  <div class="grid grid-cols-3 gap-4 justify-between pt-4">
    <div v-for="player in players" :key="player.id" class="min-w-0">
      <PlayerCard :player="player" />
    </div>
  </div>
</template>

<style scoped>
button {
  font-weight: bold;
}
</style>
