<script setup lang="ts">
import { ref, onMounted } from 'vue'
import type { Team } from '@/types/Team';
const team = ref<Team>({} as Team);

onMounted(async () => {
  try {
    const teamData = {
      id: '0',
      name: 'Team A',
      emblemUrl: 'https://seeklogo.com/images/F/Figueirense_Futebol_Clube_-_SC-logo-5282BDCE41-seeklogo.com.png',
      fairPlayPoints: 8.1,
      commitmentPoints: 4.7
    }

    team.value = teamData;
  } catch (error) {
    console.error('Error fetching team data:', error);
  }
})
</script>

<template>
  <header class="bg-blue-500 text-white shadow-md py-6 px-4 rounded-md">
    <div class="flex items-center justify-center">
      <img :src="team.emblemUrl" alt="" class="w-16 h-16   mr-4">
      <div>
        <h1 class="text-3xl font-bold">{{ team.name }}</h1>
      </div>
    </div>
  </header>
</template>
