<script setup lang="ts">
import { ref, onMounted } from 'vue'
import type { Event } from '@/types/Event';
import { fetchTeamEvents } from '@/services/teamService'
import EventCard from '@/components/EventCard.vue'
const events = ref<Event[]>([]);

onMounted(async () => {
  try {
    events.value = await fetchTeamEvents()
  } catch (error) {
    console.error('Error fetching team data:', error);
  }
})
const props = defineProps({
  teamId: {
    type: String,
    required: true
  }
})
</script>


<template>
  <div class="grid grid-cols-3 gap-4 justify-between pt-4">
    <div v-for="event in events" :key="event.id" class="min-w-0">
      <EventCard :event="event" />
    </div>
  </div>
</template>

<style scoped>
button {
  font-weight: bold;
}
</style>
