<script setup lang="ts">
import { ref, onMounted } from 'vue'
import TeamCard from "@/components/TeamCard.vue";
import type { Team } from '@/types/Team';
import { fetchTeams } from '@/services/teamService'
const teams = ref<Team[]>([]);

onMounted(async () => {
  try {
    teams.value = await fetchTeams()
  } catch (error) {
    console.error('Error fetching data:', error);
  }
})
</script>


<template>
  <div class="grid grid-cols-3 gap-4 justify-between pt-4">
    <div v-for="team in teams" :key="team.id" class="min-w-0">
      <TeamCard :team="team" />
    </div>
  </div>
</template>

<style scoped>
button {
  font-weight: bold;
}
</style>
