<script setup lang="ts">
import type { Team } from '@/types/Team';
import { useRouter } from 'vue-router'
import { useTeamStore } from '@/stores/team'

const router = useRouter()

const teamDetails = () => {
  console.log('Team details clicked')
  const teamStore = useTeamStore()
  teamStore.set(props.team)
  router.push({ name: 'teamDetails', params: { teamId: props.team.id } })
}

const props = defineProps({
  team: {
    type: Object as () => Team,
    required: true
  }
})
</script>
<template>
  <div @click="teamDetails" class="cursor-pointer bg-blue-200 dark:bg-blue-800 shadow-md rounded-md max-w-sm">
    <div class="mb-4">
      <h1 class=" p-4 text-xl font-semibold text-blue-700 dark:text-blue-300">{{ team.name }}</h1>
    </div>
    <div class="p-4 bg-blue-100 dark:bg-blue-700 text-center p-2 rounded-md">
      <span class="text-sm font-semibold text-blue-800 dark:text-blue-200">ID: {{ team.id }}</span>
    </div>
  </div>
</template>
