:root {
  --color-background-light: #ffffff;
  --color-background-dark: #181818;
  --color-text-light: #2c3e50;
  --color-text-dark: #ffffff;
  --color-border-light: rgba(60, 60, 60, 0.29);
  --color-border-dark: rgba(84, 84, 84, 0.65);
}

/* Light theme */
body {
  background-color: var(--color-background-light);
  color: var(--color-text-light);
  border-color: var(--color-border-light);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-background-dark);
    color: var(--color-text-dark);
    border-color: var(--color-border-dark);
  }
}
