/* Import Tailwind CSS styles */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'base.css';

/* Define custom styles */
:root {
  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  /* Dark mode styles */
  :root {
    --section-gap: 160px;
  }
}

/* Additional styles for #app container */
#app {
  @apply max-w-6xl mx-auto p-8;
}

/* Additional styles for links */
a,
.green {
  @apply no-underline text-indigo-500 transition duration-300 hover:bg-indigo-100;
}

/* Light theme colors */
.light-bg {
  background-color: #edf2f7; /* Light blue background */
}

.light-id {
  background-color: #a0aec0; /* Light gray background */
}

/* Dark theme colors */
.dark-bg {
  background-color: #2d3748; /* Dark blue background */
}

.dark-id {
  background-color: #4a5568; /* Dark gray background */
}
